.table .thead th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.menu-nav {
  background-color: white;
  color: rgba(0, 0, 0, 0.65);
}

.menu-logo a {
  color: rgba(0, 0, 0, 0.85);
}

.menu-li a,
.menu-li a .icon {
  color: rgba(0, 0, 0, 0.65);
}

.menu-li:hover a,
.menu-li:hover a .icon {
  color: var(--primary);
}

.menu-li.active a,
.menu-li.active a .icon {
  border-right: 2px solid var(--primary);
  color: var(--primary);
  font-weight: 500;
}
